.Products {
  overflow: auto;
  background-color: rgb(242, 242, 242);
  height: 100vh;
}

.Products h2 {
  color: #5a5554;
  text-align: center;
}

.Content {
  margin: 40px 40px 0;
  padding-bottom: 50px;
  align-items: center;
}

.Row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-top: 20px;
}

.Row a {
  text-decoration: none;
  cursor: pointer;
}

.Row a:hover div {
  background-color: #e3e7ff;
}
