.Modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 500px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  left: calc(50% - 250px);
  top: 10%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  overflow-y: scroll;
  border-radius: 5px;
  color: #5a5554;
}
