.Button {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
}

.Button i {
  margin-right: 8px;
}

button:disabled {
  background-color: #dbdef4;
  cursor: not-allowed;
}

.Primary {
  background-color: #6675df;
  color: #fff;
}

.Danger {
  background-color: #dc3545;
  color: #fff;
}

.Warning {
  background-color: #ff9800;
  color: #fff;
}
