.Product {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-family: 'Roboto', sans-serif;
  padding-bottom: 30px;
  background-color: #fff;
}

.Product img {
  width: 100%;
  height: 191px;
  object-fit: contain;
}

.ProductDetails {
  padding: 30px;
}

.ProductCategory {
  display: inline-block;
  font-size: 10px;
  text-transform: uppercase;
  color: #fff;
  background-color: #ff9800;
  padding: 5px;
}

.ProductDetails h4 {
  font-weight: 500;
  display: block;
  margin-bottom: 16px;
  text-transform: capitalize;
  color: #363636;
  transition: 0.3s;
}

.ProductDetails p {
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 18px;
  color: #999;
}

.ProductPrice {
  font-size: 14px;
}

.ProductPrice span {
  color: #999;
}

.ProductPrice span:nth-child(1) {
  background-color: #6675df;
  color: #fff;
  padding: 5px;
  margin-right: 5px;
}
