.Signup {
  position: relative;
  padding: 50px;
  background-image: url('../../../assets//img/shopping_woman.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.Signup:before {
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}

.Card {
  position: relative;
  overflow: auto;
  width: 40%;
  background-color: #fff;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  margin: auto;
}

.Title {
  overflow: auto;
  background-color: #6675df;
}

.Title h1 {
  font-size: 30px;
  color: #fff;
  text-align: center;
  font-weight: 700;
  margin: 30px;
}

.Form {
  padding: 10px 30px 30px;
}

.Form button {
  margin-top: 15px;
}

.LoginLink {
  margin-top: 20px;
}

.LoginLink a {
  text-decoration: none;
  color: #6675df;
  font-weight: bolder;
}

.LoginLink a:hover {
  text-decoration: underline;
  background-color: #fff;
}

@media screen and (max-width: 1200px) {
  .Card {
    top: 3%;
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  .Card {
    top: 3%;
    width: 50%;
  }
}

@media screen and (max-width: 414px) {
  .Card {
    top: 5%;
    width: 80%;
  }

  .Title h1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 375px) {
  .Card {
    top: 5%;
    width: 90%;
  }
}
