.Sidebar {
  flex: 2;
  background-color: #2f3146;
}

.Sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Sidebar ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 18px;
  border-bottom: 1px solid #495057;
}
